@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/InterV.woff2') format('woff2'),
    url('../public/fonts/InterV.woff') format('woff'),
    url('../public/fonts/InterV.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('../public/fonts/MartianMono-SemiExpandedRegular.woff2') format('woff2'),
    url('../public/fonts/MartianMono-SemiExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Black.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Bold.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Heavy.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Light.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Medium.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Regular.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-RegularItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../public/fonts/SFPro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('../public/fonts/SFPro/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



* {
    box-sizing: border-box;
    font-family: "SFProDisplay", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer utilities {
    .gradientbackground {
            background: linear-gradient(114.8deg, #1BBFFF 0%, #B21BFF 78.93%);
    }
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
.resume {
    background: linear-gradient(95.76deg, #1BBFFF 9.78%, #9F30FF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.resume:hover {
    background: white;
    border-color: #9F30FF;
    color: #1BBFFF;


    transition: 0.5s;
}

.gradientbackground {
    background: linear-gradient(114.8deg, #1BBFFF 0%, #B21BFF 78.93%);
}

.shadow {
    -webkit-box-shadow: 17px 4px 84px -28px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 17px 4px 84px -28px rgba(0, 0, 0, 0.5);
    box-shadow: 17px 4px 84px -28px rgba(0, 0, 0, 0.5);
}

.gradienttext {
    background: linear-gradient(114.8deg, #1BBFFF 0%, #B21BFF 78.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.backgroundimg {
    background-image: url("/colin-watts-jgdSX811OxA-unsplash.jpg");
}

.linkslide {
    box-shadow: inset 0 0 0 0 #54b3d6;
    border-radius: 3rem;
    transition: 0.5s;
}

.linkslide:hover {
    transition: 0.5s;
    background: linear-gradient(114.8deg, #1BBFFF 0%, #B21BFF 78.93%);
    color: #fff;
}
´
.aboutmecontainer {
    display: grid;
    justify-content: space-evenly;
    gap: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.workandedu {
    grid-area: workandedu;
    grid-row: 2;
    grid-column: 1;
}

.skills {
    grid-area: skills;
    grid-row: 3;
    grid-column: 1;
}

.shortaboutme {
    grid-area: shortaboutme;
    grid-row: 1;
    grid-column: 1;
}


